*.gem
*.rbc
.bundle
.config
.yardoc
.rspec
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Dummy Rails App for testing
log/*.log
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
