<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'network_executive/you_tube' %>
    <%= javascript_include_tag 'network_executive/you_tube' %>
    <%= javascript_include_tag '//www.youtube.com/iframe_api' %>
    <script>
    </script>
  </head>
  <body>
    <div id="player"></div>
  </body>
</html>