html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'LeagueGothicRegular';
  text-transform: uppercase;
  line-height: .95;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .3;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.tweet {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-box-pack: center;
          box-pack: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-box-align: center;
          box-align: center;
  -webkit-box-orient: vertical;
     -moz-box-orient: vertical;
      -ms-box-orient: vertical;
          box-orient: vertical;
  height: 100%;
}

.tweet-text {
  width: 430px;
}

.author {
  width: 430px;
  margin-top: .5em;
  text-align: right;
  font-size: 1.75em;
}

.author:before {
  padding-right: .25em;
  content: '--';
  white-space: nowrap;
}